---
import bgImage from "../../../assets/images/safety.webp";
import icon01 from "../../../assets/images/safety-icon-01.svg";
import icon02 from "../../../assets/images/safety-icon-02.svg";
import icon03 from "../../../assets/images/safety-icon-03.svg";
import icon04 from "../../../assets/images/safety-icon-04.svg";
import icon05 from "../../../assets/images/safety-icon-05.svg";
import icon06 from "../../../assets/images/safety-icon-06.svg";

import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="safety"
  data-menu-color="white"
  class="min-h-screen bg-cover bg-center flex items-center text-white justify-center py-20"
  style={`background-image: url(${bgImage.src});`}
>
  <div class="container">
    <div class="grid gap-10 text-white max-w-[520px] mb-4 max-md:mb-10">
      <h2
        class="text-5xl font-bold uppercase max-md:text-3xl whitespace-pre-line"
        data-animate
        data-y="-50"
      >
        {t("safety.title")}
      </h2>
      <div class="grid gap-3">
        <p class="text-justify" data-animate data-x="-50">
          <b>{t("safety.training")}:</b>
          {t("safety.training.content")}
        </p>
        <p class="text-justify" data-animate data-x="-50">
          <b>{t("safety.execute")}:</b>
          {t("safety.execute.content")}
        </p>
        <p class="text-justify" data-animate data-x="-50">
          <b>{t("safety.manage")}:</b>
          {t("safety.manage.content")}
        </p>
      </div>
    </div>

    <div class="flex md:justify-center items-end relative">
      <svg
        width="11944"
        height="2827"
        viewBox="0 0 11944 2827"
        fill="none"
        class="w-full h-auto max-md:hidden"
        data-animate
        data-y="-50"
      >
        <path
          d="M11860.5 2120.81C10890.4 1539.43 9840.56 1094.67 8744.07 818.582C6902.67 349.332 4944.01 358.674 3106.63 842.641C2545.46 990.007 1994.79 1180.32 1462.71 1411.67C988.46 1616.38 528.627 1855.28 83.7109 2120.81C943.294 1541.76 1894.88 1094.66 2891.46 795.091C5879.57 -119.101 9271.17 366.616 11860.5 2120.81Z"
          fill="#44AADF"></path>
        <path
          d="M1191.84 1852.54C1191.84 2158.42 943.874 2406.38 637.999 2406.38C332.124 2406.38 84.1579 2158.42 84.1579 1852.54C84.1579 1546.67 332.124 1298.7 637.999 1298.7C943.874 1298.7 1191.84 1546.67 1191.84 1852.54Z"
          fill="#44AADF"></path>
        <path
          d="M497.781 1715.03V1666.31L454.356 1715.03H497.781ZM756.573 1655.87H510.806V1723.3C510.806 1724.33 507.048 1728.08 506.031 1728.08H445.673V2076.13H755.273L756.573 2074.83V1655.87ZM766.123 1642.82L768.948 1646.52L769.648 2080.1C769.664 2083.49 767.939 2086.4 765.256 2088.32H436.989L433.473 2082.71C434.581 1964.08 432.131 1845.37 433.564 1726.74C433.614 1722.05 431.881 1721.08 435.248 1716.33L502.123 1642.82H766.123Z"
          fill="white"></path>
        <path
          d="M839.951 2016.17H798.268L820.409 2065.78L839.951 2016.17ZM812.159 1716.84H794.793V2003.98H842.559V1716.84H825.184V1953.95C825.184 1959.51 812.159 1959.51 812.159 1953.95V1716.84ZM842.559 1655.93H794.793V1704.66H842.559V1655.93ZM852.109 1642.88L855.626 1648.49L856.143 2010.38L827.568 2083.38L822.584 2088.38H818.243C815.418 2086.49 814.326 2083.22 812.876 2080.28C801.568 2057.29 791.959 2033.06 781.768 2009.64L782.409 1645.7L785.243 1642.88H852.109Z"
          fill="white"></path>
        <path
          d="M699.261 1785.54H665.828C661.961 1785.54 656.361 1769.99 653.936 1766.13C650.228 1760.24 642.711 1755.66 645.511 1748.64C648.761 1740.5 656.753 1731.09 660.711 1722.94C661.119 1721.89 659.978 1721.29 659.269 1720.76C655.978 1718.32 647.686 1714.03 643.703 1711.99C642.086 1711.17 637.844 1708.66 636.386 1708.89C632.944 1713.54 623.403 1735.49 619.353 1737.22C615.819 1738.72 602.736 1735.68 597.178 1735.9C592.244 1736.11 583.269 1739.57 579.353 1736.44C575.586 1733.44 564.844 1709.89 563.294 1709.78L540.269 1722.57C539.669 1726.27 555.828 1746.57 555.844 1752.04C555.861 1755.27 547.344 1764.9 545.094 1768.99C542.953 1772.87 538.353 1788.14 534.694 1788.14H503.861V1815.12H536.428C539.903 1815.12 545.228 1830.14 547.436 1833.67C549.369 1836.75 558.094 1845.83 558.419 1847.94C559.269 1853.35 543.311 1872.29 543.003 1879.44L565.928 1891.71L581.619 1863.88C585.478 1859.19 589.228 1862.05 593.711 1862.14C598.128 1862.23 603.336 1862.43 607.669 1862.14C614.819 1861.67 620.244 1856.95 625.303 1864.43C627.436 1867.59 638.436 1889.56 639.861 1889.89L662.753 1877.73C664.394 1875.37 645.986 1851.14 646.228 1845.16C646.353 1841.99 653.261 1834.68 655.419 1830.8C657.228 1827.56 662.378 1812.51 664.961 1812.51H699.261V1785.54ZM670.703 1772.39C672.019 1773.54 700.803 1771.78 705.819 1772.44C709.261 1772.89 711.036 1775.59 711.436 1778.99C712.936 1791.73 710.444 1807.52 711.236 1820.59C710.694 1823.32 707.419 1825.11 704.853 1825.5C699.844 1826.28 671.986 1824.54 670.703 1825.67C669.069 1833.69 663.594 1839.96 659.436 1846.73L676.878 1877.14C678.369 1880.07 677.403 1883.22 674.911 1885.13L639.586 1905.44C636.978 1905.94 633.936 1905.92 632.019 1903.81L616.294 1876.06C613.786 1872.88 604.761 1876.04 600.703 1876.09C596.978 1876.14 593.669 1874.57 590.011 1875.34L572.444 1906.01C569.286 1908.76 565.469 1906.4 562.319 1904.9C554.336 1901.1 539.836 1892.75 532.594 1887.7C528.661 1884.97 526.036 1883.57 527.978 1878L543.828 1850.34C538.844 1843.4 533.219 1836.66 530.669 1828.29C528.803 1827.09 501.994 1829.01 496.528 1828.12C493.336 1827.6 491.794 1825.09 491.236 1822.13C489.786 1814.49 490.111 1792.46 490.803 1784.19C491.253 1778.74 492.319 1775.72 498.203 1775.07C503.094 1774.53 527.169 1776.02 528.903 1774.94C531.969 1766.77 535.878 1758.93 541.028 1751.89L524.653 1720.71C524.644 1718 526.586 1715.73 528.753 1714.33L564.436 1694.32C565.436 1693.99 566.328 1694.24 567.286 1694.53C572.519 1696.13 584.069 1723.83 586.878 1724.48L612.411 1724.24C614.344 1723.28 625.494 1701.48 628.369 1697.54C632.728 1691.58 633.894 1692.45 640.219 1695.46C651.444 1700.81 662.594 1709.13 673.669 1715.02L675.019 1721.58L658.611 1750.44C662.653 1757.69 668.728 1764.06 670.703 1772.39Z"
          fill="white"></path>
        <path
          d="M484.512 1933.64L719.221 1933.9C725.597 1939.85 720.906 1946.95 712.756 1946.53L489.506 1946.53C481.056 1947.06 476.133 1937.75 484.512 1933.64Z"
          fill="white"></path>
        <path
          d="M484.502 2000.64L719.21 2000.91C725.213 2006.05 721.379 2013.91 713.621 2013.55L488.62 2013.56C480.387 2013.41 476.88 2005.09 484.502 2000.64Z"
          fill="white"></path>
        <path
          d="M693.811 1968.5C697.853 1972.59 694.336 1980.22 688.453 1979.61L513.836 1979.59C504.161 1978.48 506.428 1965.89 515.545 1966.47H687.586C689.328 1966.49 692.653 1967.33 693.811 1968.5Z"
          fill="white"></path>
        <path
          d="M513.169 2033.7L688.427 2033.5C697.212 2034.52 698.316 2045.55 689.292 2046.59L513.834 2046.59C505.474 2045.63 505.955 2036.13 513.169 2033.7Z"
          fill="white"></path>
        <path
          d="M596.571 1776.19C569.829 1779.68 570.538 1820.78 598.096 1822.94C631.421 1825.54 632.088 1771.55 596.571 1776.19ZM593.971 1764C642.363 1757.4 651.246 1825.4 608.288 1834.9C558.638 1845.89 547.513 1770.34 593.971 1764Z"
          fill="white"></path>
        <path
          d="M5259.84 553.842C5259.84 859.717 5011.87 1107.68 4706 1107.68C4400.12 1107.68 4152.16 859.717 4152.16 553.842C4152.16 247.967 4400.12 0.000707378 4706 0.000707378C5011.87 0.000707378 5259.84 247.967 5259.84 553.842Z"
          fill="#44AADF"></path>
        <path
          d="M4966.22 641.845C4940.36 636.645 4917.2 622.553 4897.94 604.978C4878.71 622.578 4855.5 636.645 4829.65 641.845C4828.77 680.82 4847.42 719.411 4873.23 747.728C4879.06 754.128 4891.44 767.353 4900.62 765.445C4908.32 763.845 4923.26 747.286 4928.46 740.953C4951.29 713.145 4967.09 678.478 4966.22 641.845ZM4721.9 594.795L4761.04 632.003C4774.3 618.078 4780.2 596.803 4775.98 578.095C4775.19 577.178 4763.85 574.178 4762.6 574.553C4760.5 575.186 4754.47 580.345 4751.64 581.903C4742.11 587.136 4732.16 591.278 4721.9 594.795ZM4680.18 594.328C4670.25 591.62 4660.73 587.495 4651.76 582.511C4648.91 580.928 4641.7 574.928 4639.56 574.486C4636.67 573.878 4629.38 577.586 4626 577.995C4622.25 597.303 4628.23 617.311 4641 632.028L4680.18 594.328ZM4801.43 463.628H4601.62V486.378C4601.62 505.786 4627.95 539.753 4642.35 552.22C4680.32 585.12 4718.04 586.295 4757.26 554.595C4775.27 540.053 4801.43 505.495 4801.43 481.536V463.628ZM4594.6 419.353C4578.9 420.778 4577.54 440.678 4592.39 444.295H4809.7C4826.08 440.711 4822.51 418.586 4805.78 419.12L4594.6 419.353ZM4799.49 400.711C4794.63 364.57 4769.1 333.761 4735 321.32C4733.65 347.753 4736.25 376.695 4747.6 400.711H4799.49ZM4603.56 400.711H4657.39C4668.55 375.77 4670.57 347.353 4669.99 320.345C4635.53 332.378 4606.91 363.77 4603.56 400.711ZM4715.1 308.745H4689.89C4689.79 333.478 4689.01 358.286 4683.76 382.495C4682.43 388.653 4679.99 394.461 4679.21 400.711H4725.77C4716.31 371.02 4714.34 339.82 4715.1 308.745ZM4893.57 785.02C4879.25 781.286 4869.94 770.92 4859.12 761.811L4683.84 761.536C4676.8 760.761 4672.28 754.411 4675.1 747.52C4675.66 746.161 4679.57 742.428 4680.67 742.428H4844.1L4830.99 721.153C4818.39 698.536 4811.07 673.111 4810.11 647.12C4809.91 641.595 4809.15 630.12 4813.51 626.228C4816.85 623.261 4841.22 621.195 4841.18 618.036C4828.64 604.995 4813.76 593.803 4797.07 586.561C4797.33 609.778 4787.65 632.795 4772.3 649.953C4762.33 661.095 4758.35 656.261 4749.04 648.061C4732.65 633.611 4717.74 615.553 4701.04 601.111L4647.66 653.336C4636.93 663.328 4626.7 646.403 4621.2 638.186C4612.11 624.595 4607.2 611.145 4605.51 594.786C4605.32 592.911 4606.6 585.845 4604.07 586.595C4595.99 588.995 4575.44 604.236 4568.63 610.278C4541.27 634.536 4511.45 689.628 4510.4 726.411C4509.97 741.478 4518.26 741.645 4531.26 742.47C4553.94 743.903 4577.9 740.961 4600.7 742.861C4611.68 751.003 4606.05 760.745 4593.41 761.828C4575.47 763.361 4531.98 763.411 4515.1 759.561C4481.15 751.828 4491.21 715.436 4498.32 691.128C4516.25 629.886 4558.5 578.245 4621.01 559.453C4621.41 557.995 4620.63 557.853 4620.06 557.036C4617.59 553.478 4612.17 548.936 4609 544.845C4590.35 520.811 4579.37 493.345 4582.04 462.37C4581.5 460.578 4573.79 456.495 4571.65 454.328C4559.57 442.053 4559.85 421.553 4572 409.378C4574.39 406.978 4582.59 402.953 4582.97 402.42C4583.76 401.32 4587.41 380.636 4588.98 375.986C4598.85 346.645 4623.44 319.686 4651.71 306.945C4655.92 305.045 4668.63 301.728 4670.81 300.103C4673.5 298.111 4673.02 291.22 4681.86 289.611C4687.8 288.528 4718.19 288.628 4723.65 290.045C4726.61 290.811 4729.83 293.195 4731.6 295.661C4732.85 297.403 4733.37 300.411 4733.75 300.786C4734.3 301.336 4745.84 304.786 4748.43 305.978C4787.63 323.978 4814.71 359.078 4819.05 402.486C4845.8 412.57 4846.15 449.27 4820.8 461.411C4823.85 499.378 4806.17 532.57 4781.06 559.453C4811.73 568.411 4838.55 586.436 4860.1 609.645C4865.47 605.661 4871.33 602.336 4876.57 598.161C4882.13 593.736 4892.27 581.353 4898.78 581.761C4903.64 582.078 4913.73 593.478 4918.33 597.195C4929.45 606.195 4943.5 614.811 4957.09 619.503C4963.44 621.695 4980.25 623.611 4983.25 627.278C4986.78 631.595 4985.99 642.378 4985.75 648.086C4984.35 682.053 4971.88 713.295 4952.55 740.795C4940.07 758.57 4923.75 778.52 4902.3 785.02H4893.57Z"
          fill="white"></path>
        <path
          d="M4637.22 742.658C4652.61 739.108 4654.09 761.35 4639.94 761.308C4629.09 761.283 4627.31 744.942 4637.22 742.658Z"
          fill="white"></path>
        <path
          d="M4924.38 660.326C4927.34 659.942 4930.92 661.767 4932.81 664.067C4937.25 669.484 4934.66 673.834 4930.91 678.559C4921.91 689.926 4909.56 700.492 4900.29 711.875C4897.1 714.025 4894.5 715.084 4890.61 713.925C4888.49 713.292 4870.41 699.184 4869.44 697.301C4865.46 689.534 4871.11 680.559 4880.01 682.859C4884.47 684.009 4888.21 689.959 4892.94 690.984C4895.36 690.509 4914.52 666.226 4919.71 662.534C4921.14 661.526 4922.6 660.551 4924.38 660.326Z"
          fill="white"></path>
        <path
          d="M7791.84 553.842C7791.84 859.717 7543.87 1107.68 7238 1107.68C6932.12 1107.68 6684.16 859.717 6684.16 553.842C6684.16 247.967 6932.12 0.000707378 7238 0.000707378C7543.87 0.000707378 7791.84 247.967 7791.84 553.842Z"
          fill="#44AADF"></path>
        <path
          d="M7209 756.051V699.435C7209 699.101 7206.98 694.01 7206.62 693.293C7204.69 689.601 7200.95 686.426 7197.04 684.968C7191.81 683.01 7169.63 682.893 7163.94 684.26C7159.26 685.393 7150.99 692.893 7150.99 697.726V756.051H7209ZM7092.13 756.051V697.726C7092.13 693.093 7083.74 685.36 7079.18 684.26C7073.48 682.893 7051.31 683.01 7046.08 684.968C7041.13 686.818 7034.12 694.06 7034.12 699.435V756.051H7092.13ZM7164.09 662.093C7184.76 682.976 7215.92 650.651 7194.93 630.893C7174.08 611.276 7144.55 642.343 7164.09 662.093ZM7059.48 625.143C7032.38 629.426 7037.56 673.293 7067.61 668.151C7094.22 663.601 7088.62 620.535 7059.48 625.143ZM7096.39 661.543H7121.13V538.085H7136.48V661.543L7146.73 661.535C7141.51 650.468 7142.49 637.885 7148.93 627.56C7151.58 623.293 7155.38 621.026 7157.79 616.826L7158.6 455.001C7159.73 452.235 7166.2 449.343 7169.18 447.685C7191.06 435.543 7214.29 425.668 7235.87 412.918C7242.08 407.243 7238.82 397.227 7229.89 397.527C7226.03 397.652 7218.79 402.052 7214.95 403.968C7194.61 414.102 7174.83 425.485 7154.43 435.51C7131.84 438.926 7096.38 429.235 7077.69 444.076C7067.31 452.318 7065.53 463.968 7061.84 475.935C7057.62 489.635 7048.99 513.66 7047.12 526.801C7046.21 533.135 7050.48 539.151 7057.18 537.76C7061.55 536.851 7062.88 534.135 7064.38 530.401C7072.99 509.101 7077.28 483.968 7085.84 462.385C7088.23 456.635 7096.73 456.851 7099.01 462.676L7099.84 646.676L7096.39 661.543ZM7126.94 378.235C7107.28 379.835 7100.03 405.168 7115.61 417.16C7130.04 428.277 7151.36 417.427 7150.58 399.277C7150.05 386.935 7139.33 377.218 7126.94 378.235ZM7019.62 697.301C7022.34 687.601 7027.66 677.16 7037.53 673.451C7038.23 672.476 7033.46 667.593 7032.56 666.076C7015.93 637.801 7039.75 604.11 7071.83 611.56C7077.03 612.76 7080.57 615.376 7085.3 617.268V514.243L7075.4 541.393C7061.46 562.435 7029.58 551.301 7032.5 525.835C7046.85 490.385 7044.46 430.377 7091.78 422.377C7094.53 421.918 7097.88 423.318 7099.79 421.018C7086.85 405.352 7091.97 380.31 7108.91 369.652C7139.79 350.227 7175.95 381.552 7162.08 414.627L7224.98 383.327C7253.79 378.452 7264.6 415.185 7239.73 427.843L7172.32 462.31V611.31C7208.46 604.41 7229.88 646.126 7205.58 673.026C7214.94 677.61 7222.2 688.318 7223.41 698.668C7225.76 718.768 7221.83 742.785 7223.53 763.31C7223.49 766.843 7220.76 768.518 7218.38 770.526H7141.61C7139.15 768.576 7136.38 768.026 7136.48 764.16C7138.04 742.851 7134.41 718.693 7136.49 697.735C7137.37 688.968 7142.48 682.068 7148.43 676.018H7094.68C7100.53 682.235 7105.74 688.876 7106.62 697.735C7108.7 718.693 7105.08 742.851 7106.64 764.16C7106.74 768.026 7103.97 768.576 7101.51 770.526H7019.62V697.301Z"
          fill="white"></path>
        <path
          d="M7456.39 339.735V518.535C7455.13 520.193 7452.13 523.643 7449.99 523.643H7186.82V509.168H7441.89V349.101H7034.11V487.035H7019.61V339.735C7021.78 337.043 7023.72 334.293 7027.67 334.585H7448.32C7452.28 334.293 7454.22 337.043 7456.39 339.735Z"
          fill="white"></path>
        <path
          d="M7441.89 756.01V699.393C7441.89 694.018 7434.88 686.776 7429.93 684.926C7424.7 682.968 7402.52 682.851 7396.83 684.218C7392.26 685.318 7383.88 693.051 7383.88 697.685V756.01H7441.89ZM7409.25 625.093C7381.16 629.535 7387.39 673.243 7417.37 668.11C7443.43 663.651 7437.86 620.576 7409.25 625.093ZM7374.5 770.485C7372.04 768.535 7369.26 767.985 7369.36 764.118C7372.96 739.026 7360.32 696.276 7380.02 677.66C7381.4 676.368 7386.11 673.793 7386.39 672.885C7386.92 671.101 7383.32 668.16 7382.16 666.201C7362.98 634.226 7395.97 598.126 7429.13 614.21C7450.99 624.826 7455.61 655.101 7438.49 672.16L7438.48 673.41C7444.87 675.46 7449.21 681.426 7452.59 687.01L7456.39 697.26V770.485H7374.5Z"
          fill="white"></path>
        <path
          d="M7325.02 756.01V697.685C7325.02 692.852 7316.75 685.352 7312.06 684.218C7306.38 682.852 7284.2 682.968 7278.97 684.927C7275.06 686.385 7271.32 689.56 7269.4 693.252C7269.03 693.968 7267.01 699.06 7267.01 699.393V756.01H7325.02ZM7311.92 662.052C7331.45 642.302 7301.94 611.235 7281.09 630.852C7260.09 650.61 7291.25 682.935 7311.92 662.052ZM7257.63 770.485C7255.25 768.477 7252.52 766.802 7252.49 763.268C7254.18 742.743 7250.25 718.727 7252.6 698.627C7253.81 688.277 7261.07 677.568 7270.43 672.985C7249.4 650.627 7262.25 612.127 7293.85 610.385C7327.34 608.527 7344.86 647.793 7322.41 672.16L7322.85 673.435C7331.29 678.052 7338.3 687.21 7339.43 696.927C7341.87 717.81 7337.79 742.785 7339.54 764.118C7339.64 767.985 7336.86 768.535 7334.4 770.485H7257.63Z"
          fill="white"></path>
        <path d="M7281.54 414.599H7427.42V429.074H7281.54V414.599Z" fill="white"
        ></path>
        <path d="M7252.54 458.075H7398.42V472.55H7252.54V458.075Z" fill="white"
        ></path>
        <path d="M7260.23 371.216H7405.25V385.691H7260.23V371.216Z" fill="white"
        ></path>
        <path
          d="M9877.84 960.944C9877.84 1266.82 9629.88 1514.79 9324 1514.79C9018.13 1514.79 8770.16 1266.82 8770.16 960.944C8770.16 655.069 9018.13 407.102 9324 407.102C9629.88 407.102 9877.84 655.069 9877.84 960.944Z"
          fill="#44AADF"></path>
        <path
          d="M9142.2 866.37L9140.91 867.653V1137.09C9140.91 1152.17 9155.33 1163.09 9169.67 1162.44L9480.07 1162.39C9493.83 1162.5 9507.16 1151.35 9507.16 1137.09V867.653L9505.87 866.37H9142.2ZM9140.91 822.178C9140.11 830.637 9141.51 840.195 9140.91 848.778L9142.2 850.07H9505.87L9507.16 848.778V822.178C9507.16 808.162 9493.67 796.712 9480.07 796.878L9169.67 796.828C9153.7 797.02 9142.46 805.937 9140.91 822.178ZM9162.22 780.82L9483.55 780.528C9502.48 781.953 9517.42 793.945 9522.23 812.278C9524.33 923.553 9524.33 1035.7 9522.23 1146.99C9518.22 1162.11 9506.96 1173.59 9491.72 1177.44C9380.23 1179.54 9267.86 1179.54 9156.36 1177.44C9141.2 1173.44 9129.69 1162.2 9125.83 1146.99C9123.74 1035.72 9123.74 923.545 9125.83 812.278C9130.15 795.02 9144.6 782.862 9162.22 780.82Z"
          fill="white"></path>
        <path
          d="M9194 1061.38C9189.19 1062.37 9183.78 1068.86 9183.13 1073.7C9180.9 1090.63 9201.63 1098.59 9210.94 1086.01C9220.13 1073.6 9209.03 1058.29 9194 1061.38ZM9207.25 1045.62C9238.2 1055.08 9238.22 1097.42 9207.53 1107.48C9205.76 1115.04 9211.33 1137.95 9198.23 1137.3C9185.49 1136.66 9191.25 1116.15 9189.82 1108.06C9180.96 1103.77 9172.39 1098.49 9168.65 1088.86C9161.3 1069.98 9171.34 1051.54 9189.98 1045.17L9189.93 900.295C9191.35 887.829 9206.78 888.904 9207.12 901.162L9207.25 1045.62Z"
          fill="white"></path>
        <path
          d="M9261.1 998.776C9238.57 1001.22 9246.5 1037.25 9268.78 1028.79C9285.34 1022.51 9279.48 996.785 9261.1 998.776ZM9271.69 983.901C9303.2 992.06 9302.48 1036.57 9271.55 1045.43L9271.61 1127.72C9270.71 1139.82 9256.3 1140.53 9254.38 1128.59L9254.46 1045.43C9223.11 1036 9223.01 992.685 9254.46 983.468L9254.41 900.326C9255.72 888.818 9269.47 888.451 9271.52 899.543L9271.69 983.901Z"
          fill="white"></path>
        <path
          d="M9323.8 936.986C9308.21 939.645 9308 964.211 9323.79 967.47C9348.12 972.503 9350.11 932.503 9323.8 936.986ZM9336.21 921.195C9357.2 927.42 9367.25 953.036 9353.62 971.028C9348.78 977.403 9343.1 980.136 9336.17 983.653L9335.27 1132.05C9330.32 1140.84 9319.39 1137.61 9318.87 1127.7L9318.87 984.386C9318.87 983.636 9318.59 983.153 9318.02 982.678C9316.27 981.236 9310.52 979.636 9307.28 977.086C9286.65 960.861 9294.13 928.345 9318.72 921.195C9320.13 913.286 9314.82 892.878 9326.4 891.453C9340.41 889.745 9334.97 913.186 9336.21 921.195Z"
          fill="white"></path>
        <path
          d="M9465 1084.31H9394.08L9392.78 1085.59V1120.35H9465V1084.31ZM9476.74 1072.59C9480.38 1075.98 9481.78 1081.68 9482.18 1086.47C9482.89 1094.8 9483.21 1122.06 9479.79 1128.68C9476.54 1134.95 9469.47 1137.03 9462.88 1137.54C9444.96 1138.94 9411.87 1139.11 9394.08 1137.49C9384.58 1136.64 9377.31 1131.74 9376.41 1121.67C9375.62 1112.72 9375.35 1090.84 9376.53 1082.24C9377.71 1073.54 9384.83 1068.69 9393.18 1067.98C9416.26 1066 9442.08 1069.54 9465.47 1067.97C9469.03 1068.19 9474.16 1070.2 9476.74 1072.59Z"
          fill="white"></path>
        <path
          d="M9383.14 891.491L9476.71 892.091C9485.68 898.215 9482.45 907.362 9471.48 908.441C9444.68 911.111 9413.64 906.487 9386.39 908.446C9375.46 908.176 9372.37 895.172 9383.14 891.491Z"
          fill="white"></path>
        <path
          d="M9383.12 927.528L9474.86 927.378C9483.66 929.047 9484.33 942.554 9474.92 943.644L9380.98 942.981C9373.99 939.168 9375.03 928.983 9383.12 927.528Z"
          fill="white"></path>
        <path
          d="M9382.27 999.544L9477.05 999.836C9484.7 1003.7 9482.65 1014.67 9474.1 1015.69C9445.77 1013.32 9412.4 1018.79 9384.67 1015.67C9374.61 1014.54 9373.34 1003.33 9382.27 999.544Z"
          fill="white"></path>
        <path
          d="M9479.4 977.717C9477.95 979.067 9475.22 979.567 9473.27 979.75C9444.88 982.334 9412.59 977.709 9383.78 979.725C9375.41 978.734 9373.66 968.092 9381.02 964.05L9474.1 963.384C9480.97 963.767 9484.46 972.984 9479.4 977.717Z"
          fill="white"></path>
        <path
          d="M9381.42 1035.6L9474.97 1035.4C9484.34 1036.49 9484.33 1050.47 9473.23 1051.72C9445.78 1054.81 9412.71 1049.4 9384.66 1051.75C9375.33 1050.63 9373.46 1040.27 9381.42 1035.6Z"
          fill="white"></path>
        <path
          d="M9455.3 817.843C9460.61 823.135 9456.08 832.893 9448.32 832.16L9304.7 832.143C9295.87 831.093 9293.61 821.235 9300.87 816.268L9452.38 816.052C9453.39 816.527 9454.52 817.06 9455.3 817.843Z"
          fill="white"></path>
        <path
          d="M9214.6 815.917C9221.57 814.359 9229.25 816.392 9228.66 824.734C9227.98 834.134 9210.87 834.959 9209.02 825.392C9208.23 821.367 9210.45 816.842 9214.6 815.917Z"
          fill="white"></path>
        <path
          d="M9246.4 816.003C9252.41 814.253 9261.67 816.336 9261.32 823.961C9260.78 836.053 9238.67 834.728 9241.67 821.586C9242.05 819.945 9244.82 816.461 9246.4 816.003Z"
          fill="white"></path>
        <path
          d="M9193.9 817.852C9203.57 827.527 9184.09 839.202 9177.52 827.777C9171.47 817.261 9187.9 811.852 9193.9 817.852Z"
          fill="white"></path>
        <path
          d="M11859.8 1852.54C11859.8 2158.42 11611.9 2406.38 11306 2406.38C11000.1 2406.38 10752.2 2158.42 10752.2 1852.54C10752.2 1546.67 11000.1 1298.7 11306 1298.7C11611.9 1298.7 11859.8 1546.67 11859.8 1852.54Z"
          fill="#44AADF"></path>
        <path
          d="M11384.4 2053.71H11438.3C11439.7 2053.71 11443.5 2048.83 11443.5 2047.73V1958.08C11438.5 1961.82 11430.5 1988.9 11421.9 1979.22C11420.1 1977.19 11419.8 1974.34 11421 1971.85L11451.4 1919.43L11434.7 1909.81C11433.6 1909.48 11433 1910.81 11432.4 1911.6C11407.7 1948.78 11387.9 1992.57 11364.1 2030.63C11362 2037.02 11362.7 2043.98 11363.7 2050.53C11372.8 2048.19 11378.7 2043.9 11383.9 2036.11C11392.6 2023.2 11399.2 2008.04 11407.8 1994.99C11415 1990.55 11420.1 1995.78 11416.8 2003.54C11410.5 2018.04 11397.5 2034.26 11390 2048.51L11384.4 2053.71ZM11447.1 1887.18L11440.3 1898.64L11457.4 1908.63L11464.2 1897.18L11447.1 1887.18ZM11478.6 1871.24L11461.1 1861.67L11453.1 1876.37L11470.2 1886.33C11471.6 1884.53 11479.3 1872.21 11478.6 1871.24ZM11161.6 2065.66C11154.9 2063.62 11148.3 2058.66 11146.8 2051.37C11145.6 2045.32 11145.5 2013.52 11146.5 2007.14C11147.5 2000.63 11156.6 2000.46 11158.1 2006.67C11160.7 2018.04 11156.6 2035.83 11158.5 2047.68C11158.8 2049.63 11161.9 2053.71 11163.6 2053.71H11351.7C11351.4 2047.5 11350.3 2041.21 11350.8 2034.95C11352 2021.53 11363.4 2010.03 11368.4 1997.93H11336.1C11332.5 1997.93 11329.8 1990.13 11334.1 1987.21C11339.4 1983.61 11367.2 1987.5 11375.1 1985.83L11383.6 1972.43H11300.2C11296.1 1972.43 11293.3 1962.46 11299.5 1960.64L11390.2 1960.49L11398 1946.93H11360.9C11354.6 1946.93 11352.1 1938.08 11357.8 1935.15L11405.2 1934.58L11442.9 1870.21L11443.5 1766.49C11444.7 1759.25 11455.5 1761.53 11455.5 1767.24V1848.92C11459.3 1846.39 11462.1 1848.67 11465.6 1850.38C11469.5 1852.31 11491.4 1864.73 11492.6 1867.26C11493.7 1869.74 11492.8 1871.44 11491.8 1873.66C11482.8 1894.29 11465.2 1915.44 11455.6 1936.36C11454.5 1975.13 11457.1 2014.35 11454.3 2052.9C11451.9 2059.67 11446.6 2062.97 11440.3 2065.66H11161.6Z"
          fill="white"></path>
        <path
          d="M11162.2 1657.93L11440.3 1658.09C11448.6 1660.23 11454.1 1666.63 11455.2 1675.08C11457.6 1694.58 11453.8 1717.93 11455.4 1737.84C11455.7 1745.12 11448 1749.21 11443.6 1742.43L11443.4 1677.25C11443.2 1673.8 11441.5 1670.91 11438.1 1669.85L11163.2 1670.03L11159 1673.87L11158.4 1980.07C11157.6 1986.85 11150.7 1988.4 11146.8 1982.83L11146.4 1674.83C11147.2 1666.18 11153.6 1659.36 11162.2 1657.93Z"
          fill="white"></path>
        <path
          d="M11193.3 1721.64C11191.2 1722.78 11189.6 1724.99 11189.5 1727.44C11190.8 1745.15 11187.9 1765.02 11189.5 1782.47C11190 1788.26 11191.3 1789.51 11197.1 1790.04C11210.5 1791.27 11238.1 1791.28 11251.5 1790.04C11255.5 1789.67 11257.8 1788.44 11258.3 1784.08C11260 1765.71 11256.8 1744.5 11258.2 1725.82C11258.2 1723.45 11256.3 1721.52 11253.9 1721.44L11193.3 1721.64ZM11190.9 1709.72C11211.3 1711.04 11235.5 1707.29 11255.4 1709.53C11262.8 1710.36 11269.3 1716.82 11270.2 1724.27C11272.4 1743.57 11268.5 1766.74 11270.2 1786.46C11268.9 1795.54 11262 1801.07 11253 1801.95C11238.7 1803.36 11210.8 1803.13 11196.3 1801.99C11185.9 1801.18 11178.7 1795.52 11177.6 1784.82C11176.2 1770.85 11176.3 1740.73 11177.6 1726.67C11178.4 1718.49 11182.7 1711.83 11190.9 1709.72Z"
          fill="white"></path>
        <path
          d="M11194.9 1933.59C11190.9 1934.3 11190 1936.37 11189.5 1940.18C11187.6 1957.52 11191 1978.26 11189.5 1995.98C11190 1999.7 11191.6 2001.61 11195.5 2001.98C11213.9 2003.76 11235.1 2000.52 11253.8 2001.98C11256.2 2001.9 11258.2 1999.99 11258.2 1997.59C11256.4 1979.24 11260.6 1956.34 11258.2 1938.54C11257.8 1935.42 11255.2 1933.65 11252.2 1933.39C11235 1935.39 11211.4 1930.68 11194.9 1933.59ZM11194.1 1921.68C11207.3 1920.02 11239.6 1920.14 11253 1921.46C11261.9 1922.34 11268.2 1927.47 11270.2 1936.17C11268.8 1956.24 11272 1978.59 11270.2 1998.38C11269.5 2006.48 11263.4 2012.74 11255.4 2013.89C11235.3 2012.54 11212.9 2015.68 11193.1 2013.92C11183.7 2013.08 11178.4 2005.63 11177.6 1996.74C11176.3 1983.12 11176 1951.22 11177.6 1937.88C11178.7 1928.74 11185.2 1922.8 11194.1 1921.68Z"
          fill="white"></path>
        <path
          d="M11194.1 1827.63C11191.4 1828.36 11189.6 1830.66 11189.5 1833.43C11190.8 1851.41 11187.9 1871.54 11189.5 1889.26C11189.9 1893.99 11191.5 1895.6 11196.3 1896.03C11210.1 1897.29 11238.4 1897.29 11252.3 1896.03C11256.9 1895.61 11257.8 1894.57 11258.2 1890.05C11259.5 1876.04 11259.5 1847.42 11258.2 1833.4C11257.8 1828.81 11256.8 1827.84 11252.3 1827.43C11233.9 1825.75 11212.8 1828.61 11194.1 1827.63ZM11192.5 1815.72C11211.4 1813.03 11235.3 1817.3 11254.6 1815.51C11262.6 1816.52 11269 1822.24 11270.2 1830.25C11268.8 1850.31 11272 1872.66 11270.2 1892.44C11269.5 1900.91 11262.9 1906.85 11254.6 1907.95C11235.2 1906.69 11213.8 1909.61 11194.7 1907.98C11185 1907.14 11178.5 1900.41 11177.6 1890.81C11176.2 1877.35 11176.1 1845.22 11177.7 1831.93C11178.6 1824.04 11184.4 1816.88 11192.5 1815.72Z"
          fill="white"></path>
        <path
          d="M11300.3 1747.91L11396 1747.73C11404.1 1748.66 11403.8 1758.89 11396 1759.71L11299 1759.27C11294 1755.96 11294.5 1749.82 11300.3 1747.91Z"
          fill="white"></path>
        <path
          d="M11400.1 1855.54C11403.8 1858.64 11401.5 1865.26 11396.8 1865.69L11300.9 1865.67C11292.2 1864.66 11295 1853.25 11303.3 1853.7C11332.5 1855.55 11364.7 1851.24 11393.6 1853.67C11395.4 1853.82 11398.8 1854.39 11400.1 1855.54Z"
          fill="white"></path>
        <path
          d="M11359.4 1828.33L11418.3 1828.21C11425.5 1829.36 11425.4 1838.88 11418.4 1840.16L11359.3 1840.07C11353 1839.09 11353.3 1829.72 11359.4 1828.33Z"
          fill="white"></path>
        <path
          d="M11358.6 1722.43L11419.1 1722.28C11425.5 1724.3 11424.8 1733.15 11418.3 1734.16L11360.1 1734.16C11353.3 1733.1 11353 1723.71 11358.6 1722.43Z"
          fill="white"></path>
        <path
          d="M11333.5 1890.15C11330.1 1886.69 11331.9 1880.84 11336.9 1880.06C11342.3 1879.23 11365 1879.24 11370.4 1880.06C11377.6 1881.18 11376.6 1890.82 11369.6 1891.93C11363.8 1892.83 11344.5 1892.66 11338.5 1891.99C11337.1 1891.84 11334.4 1891.04 11333.5 1890.15Z"
          fill="white"></path>
        <path
          d="M11337.8 1773.46C11342.7 1772.58 11364.5 1772.58 11369.4 1773.46C11376.1 1774.67 11377.6 1782.59 11371.2 1785.2L11336.1 1785.21C11329.3 1782.43 11331 1774.69 11337.8 1773.46Z"
          fill="white"></path>
        <path
          d="M11300.3 1828.36C11303.7 1827.62 11330.2 1827.63 11333.5 1828.37C11339.7 1829.74 11339.5 1839.03 11333.7 1840.13C11330.1 1840.82 11303.8 1840.83 11300.2 1840.14C11294.5 1839.06 11293.8 1829.83 11300.3 1828.36Z"
          fill="white"></path>
        <path
          d="M11299.5 1722.43L11333.7 1722.28C11340.1 1724.32 11339.4 1733.16 11332.9 1734.16C11327.7 1734.97 11306.2 1734.97 11301 1734.17C11294.8 1733.2 11293.8 1725.09 11299.5 1722.43Z"
          fill="white"></path>
        <path
          d="M11301.9 1934.45C11307.2 1933.56 11326.6 1933.56 11331.9 1934.44C11340.1 1935.8 11340.1 1945.14 11333.6 1946.15C11323.7 1947.71 11309.9 1945.23 11299.5 1946.04C11293 1942.95 11294.9 1935.61 11301.9 1934.45Z"
          fill="white"></path>
        <path
          d="M11300.3 1986.19C11306.2 1984.87 11320 1986.05 11314.8 1995.1C11312.3 1999.47 11297.5 1999.63 11295.9 1994.23C11294.8 1990.67 11296.6 1987.03 11300.3 1986.19Z"
          fill="white"></path>
        <path
          d="M11299.5 1880.15C11303.6 1878.97 11314.4 1879.04 11315.6 1884.56C11317.2 1892.46 11307 1892.59 11301.7 1891.96C11294.2 1891.07 11294 1881.75 11299.5 1880.15Z"
          fill="white"></path>
        <path
          d="M11301.9 1773.39C11306.4 1772.64 11314.5 1772.95 11315.6 1778.57C11317 1786.25 11305.9 1785.75 11300.9 1785.17C11293.4 1784.3 11293.7 1774.78 11301.9 1773.39Z"
          fill="white"></path>
        <path
          d="M11239.7 1739.1C11243.7 1738.52 11248.1 1743.63 11245.7 1747.53L11222.1 1771.03C11218.3 1774.48 11205.6 1761.14 11204.6 1758.68C11203.2 1755.2 11203.7 1751.48 11207.4 1749.92C11213.6 1747.29 11218.1 1756.8 11220.2 1756.43C11225 1753.22 11234.6 1739.85 11239.7 1739.1Z"
          fill="white"></path>
        <path
          d="M11238.9 1951.83C11243.9 1950.8 11247.9 1955.65 11245.7 1960.25L11223.1 1983.1C11220.8 1984.43 11219.2 1984.43 11216.8 1983.1C11215.8 1982.52 11204.8 1971.59 11204.4 1970.8C11203.3 1968.49 11203.8 1964.36 11206.1 1962.93C11213.1 1958.48 11217.9 1969.58 11220.2 1969.16C11224.7 1966.35 11234.7 1952.69 11238.9 1951.83Z"
          fill="white"></path>
        <path
          d="M11238 1845.87C11243.4 1844.23 11247.8 1849.21 11245.6 1854.27L11222.9 1876.97C11218.7 1881.03 11205.6 1867.3 11204.5 1864.63C11203.2 1861.55 11203.9 1856.8 11207.5 1856.08C11214.4 1854.71 11215 1860.62 11220.2 1863.18C11222.3 1862.8 11234.9 1846.8 11238 1845.87Z"
          fill="white"></path>
        <path
          d="M3187.84 960.944C3187.84 1266.82 2939.87 1514.79 2634 1514.79C2328.12 1514.79 2080.16 1266.82 2080.16 960.944C2080.16 655.069 2328.12 407.102 2634 407.102C2939.87 407.102 3187.84 655.069 3187.84 960.944Z"
          fill="#44AADF"></path>
        <path
          d="M2812.67 937.995C2797.23 935.254 2781.53 933.995 2766.06 931.312C2720.15 923.337 2675.74 908.47 2633.55 889.087C2578.03 916.095 2517.26 931.295 2455.81 937.687C2452.42 940.104 2459.12 985.854 2460.38 993.179C2476.37 1085.99 2531.19 1173.61 2607.86 1227.95C2612.16 1231.01 2630.95 1244.35 2634.5 1244.11C2636.81 1243.95 2647.93 1236.47 2650.79 1234.59C2747.69 1170.91 2811.65 1054.3 2812.67 937.995ZM2877.78 961.095V917.604C2877.78 902.52 2864.36 886.195 2850.44 881.229C2840.16 877.57 2797.91 877.57 2787.67 881.404C2785.47 882.229 2775.3 888.07 2774.95 889.554L2781.16 915.587C2781.76 916.57 2800.84 918.904 2803.8 919.295C2813.08 920.52 2830.27 917.395 2831.01 930.187C2831.12 932.045 2830 933.154 2830 933.529V961.095H2877.78ZM2390.16 916.379C2388.52 930.204 2391.38 946.945 2390.16 961.095H2437.94V933.529C2437.94 933.104 2436.77 932.062 2436.75 930.962C2436.48 917.529 2454.81 920.529 2464.14 919.295C2467.11 918.904 2486.18 916.57 2486.77 915.587L2492.98 889.554C2488.84 885.904 2483.6 882.554 2478.31 880.912C2467.95 877.67 2427.66 877.604 2417.5 881.229C2402.65 886.529 2392.01 900.762 2390.16 916.379ZM2763.82 913.312C2757.5 878.912 2731.75 849.179 2698.33 838.545C2674.62 830.995 2599.94 831.154 2575.38 836.962C2539.5 845.445 2511.77 876.529 2504.11 912.079C2535.83 907.662 2567.82 897.82 2597.55 886.079C2609.95 881.179 2621.7 874.22 2634.48 870.504C2675.83 889.67 2718.97 904.52 2763.82 913.312ZM2816.24 803.362C2775.8 808.345 2791.27 871.695 2830.45 855.57C2859.25 843.712 2847.24 799.537 2816.24 803.362ZM2445.01 803.362C2410.45 807.62 2415.32 859.645 2449.52 858.229C2486.86 856.679 2482.4 798.754 2445.01 803.362ZM2627.59 675.996C2536.76 684.554 2554.5 825.137 2646.52 808.87C2728.13 794.445 2712.78 667.971 2627.59 675.996ZM2676.85 816.512C2714.13 819.887 2748.11 840.595 2766.92 872.912L2788.34 863.07C2755.07 829.454 2787.81 773.879 2833.4 788.004C2865.64 798.004 2874.41 839.645 2850.82 863.07C2875.45 869.745 2892.98 890.795 2894.97 916.337C2895.9 928.245 2896.6 959.212 2894.86 970.22C2894.35 973.462 2891.57 977.579 2888.16 978.22L2827.6 978.312C2814.11 1086.66 2752.18 1187.38 2661.8 1248.06C2656.05 1251.92 2644.32 1260.52 2638.53 1262.75C2630.5 1265.86 2619.06 1256.5 2612.02 1251.97C2518.65 1191.95 2454.06 1088.75 2440.33 978.312L2377.93 977.62C2374.91 975.354 2373.43 972.879 2372.98 969.087C2371.36 955.312 2371.83 915.729 2375.53 902.97C2381.17 883.495 2397.66 868.337 2417.11 863.07C2384.59 829.762 2415.57 774.854 2461.22 787.737C2494.27 797.062 2503.87 839.412 2479.6 863.07L2501.63 872.879C2519.33 840.287 2554.39 819.92 2591.09 816.512C2551.28 790.695 2536.59 740.237 2561.93 698.545C2594.35 645.179 2673.58 645.137 2706.01 698.545C2731.36 740.295 2716.69 790.612 2676.85 816.512Z"
          fill="white"></path>
        <path
          d="M2773.51 969.835C2725.33 962.335 2678.35 948.561 2633.56 929.569C2589.54 949.102 2542.73 962.11 2495.09 969.66C2493.93 969.735 2494.29 970.66 2494.19 971.535C2493.59 977.16 2498.28 997.302 2499.8 1004.04C2517.62 1083.01 2566.96 1156.38 2634.36 1201.08C2710.82 1148.69 2763.75 1062.57 2773.51 969.835ZM2632.45 911.119C2635.77 910.577 2676.99 927.936 2684.79 930.536C2718.09 941.611 2752.49 948.769 2787.12 954.402C2791.77 955.944 2792.02 959.952 2792.1 964.194C2792.74 996.185 2773.01 1053.74 2758.76 1082.88C2735.19 1131.09 2689.22 1187.78 2643.44 1216.25C2636.45 1220.6 2635.39 1222.66 2627.45 1218.2C2590.39 1197.4 2545.94 1146.03 2523.94 1109.77C2501.49 1072.76 2476.69 1008.84 2475.84 965.461C2475.74 960.902 2475.8 956.119 2480.79 954.377C2522.09 948.211 2562.03 938.344 2601.19 924.077C2609.04 921.219 2625.98 912.169 2632.45 911.119Z"
          fill="white"></path>
        <path
          d="M2707.15 998.153L2622.99 1079.5C2621.63 1080.05 2620.23 1080.18 2618.77 1080.03C2612.38 1079.36 2594.22 1056.44 2587.43 1051.21C2582.02 1047.02 2576.36 1044.82 2570.94 1050.69C2565.78 1056.29 2568.03 1061.35 2572.07 1066.58C2577.71 1073.89 2602.86 1099.22 2610.08 1104.53C2614.42 1107.71 2618.79 1109.41 2624.23 1107.66L2718.57 1014.55C2722.85 1005.35 2717.14 997.037 2707.15 998.153ZM2703.48 981.087C2729.68 976.628 2747.93 1004.65 2731.39 1026.15L2635.61 1121.49C2625.82 1127.73 2611.2 1126.59 2601.7 1120.25C2595.5 1116.12 2559.9 1080.51 2555.76 1074.31C2545.52 1058.96 2551.38 1037.69 2569.07 1031.67C2593.07 1023.51 2604.55 1045.72 2619.88 1059.18L2692.74 986.278C2695.6 983.97 2699.88 981.695 2703.48 981.087Z"
          fill="white"></path>

        <text
          x="638"
          y="2674.38"
          font-size="128px"
          text-anchor="middle"
          fill="white"
        >
          {t("safety.item_1")}
        </text>
        <text
          x="2634"
          y="1782.79"
          font-size="128px"
          text-anchor="middle"
          fill="white"
        >
          {t("safety.item_2")}
        </text>
        <text
          x={4068 + 1276 / 2}
          y="1375.68"
          font-size="128px"
          text-anchor="middle"
          fill="white"
        >
          {t("safety.item_3")}
        </text>
        <text
          x={6600 + 1276 / 2}
          y="1375.68"
          font-size="128px"
          text-anchor="middle"
          fill="white"
        >
          {t("safety.item_4")}
        </text>
        <text
          x={8686 + 1276 / 2}
          y="1782.79"
          font-size="128px"
          text-anchor="middle"
          fill="white"
        >
          {t("safety.item_5")}
        </text>
        <text
          x={10668 + 1276 / 2}
          y="2674.38"
          font-size="128px"
          text-anchor="middle"
          fill="white"
        >
          {t("safety.item_6")}
        </text>
      </svg>
      <div
        class="text-2xl lg:text-3xl md:absolute uppercase font-bold mb-8 lg:mb-16"
        data-animate
        data-y="20"
        data-duration="0.5"
      >
        {t("safety.execution_works")}
      </div>
    </div>

    <div class="grid gap-4 md:hidden">
      <div class="flex gap-4 items-center" data-animate data-x="-30">
        <div
          class="size-16 p-4 bg-[#44AADF] rounded-full flex items-center justify-center"
        >
          <img src={icon01.src} alt={t("safety.item_1")} />
        </div>
        <div class="text-base">{t("safety.item_1")}</div>
      </div>
      <div class="flex gap-4 items-center" data-animate data-x="-30">
        <div
          class="size-16 p-4 bg-[#44AADF] rounded-full flex items-center justify-center"
        >
          <img src={icon02.src} alt={t("safety.item_2")} />
        </div>
        <div class="text-base">{t("safety.item_2")}</div>
      </div>
      <div class="flex gap-4 items-center" data-animate data-x="-30">
        <div
          class="size-16 p-4 bg-[#44AADF] rounded-full flex items-center justify-center"
        >
          <img src={icon03.src} alt={t("safety.item_3")} />
        </div>
        <div class="text-base">{t("safety.item_3")}</div>
      </div>
      <div class="flex gap-4 items-center" data-animate data-x="-30">
        <div
          class="size-16 p-4 bg-[#44AADF] rounded-full flex items-center justify-center"
        >
          <img src={icon04.src} alt={t("safety.item_4")} />
        </div>
        <div class="text-base">{t("safety.item_4")}</div>
      </div>
      <div class="flex gap-4 items-center" data-animate data-x="-30">
        <div
          class="size-16 p-4 bg-[#44AADF] rounded-full flex items-center justify-center"
        >
          <img src={icon05.src} alt={t("safety.item_5")} />
        </div>
        <div class="text-base">{t("safety.item_5")}</div>
      </div>
      <div class="flex gap-4 items-center" data-animate data-x="-30">
        <div
          class="size-16 p-4 bg-[#44AADF] rounded-full flex items-center justify-center"
        >
          <img src={icon06.src} alt={t("safety.item_6")} />
        </div>
        <div class="text-base">{t("safety.item_6")}</div>
      </div>
    </div>
  </div>
</section>
