---
import bgImage01 from "../../../assets/images/news.webp";
import bgImage02 from "../../../assets/images/11.webp";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import clsx from "clsx";
const { name, address, images, index } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id={`project-${index}`}
  class={clsx(
    "flex items-center bg-cover bg-center",
    index % 2 === 1 ? "text-primary" : "text-white"
  )}
  style={`background-image: url(${index % 2 === 1 ? bgImage01.src : bgImage02.src});`}
  data-menu-color={index % 2 === 1 ? "primary" : "white"}
>
  <div
    class="container h-screen grid py-20 3xl:py-[5vw] gap-10 3xl:gap-[2.5vw] content-start"
  >
    <div class="grid gap-3 3xl:gap-[0.75vw]">
      <h2
        class="text-5xl font-black uppercase max-md:text-3xl whitespace-pre-line"
        data-animate
        data-y="-50"
      >
        {name}
      </h2>
      <div class="whitespace-pre-line">
        {t("projects.address")}: {address}
      </div>
    </div>
    <div
      class="min-h-0 overflow-auto grid grid-cols-3 items-center content-center"
    >
      <img
        src={images[0].src}
        alt={name}
        class="w-full h-full object-cover object-center col-span-2"
      />
      <div class="grid gap-2 relative z-10 ml-[-4vw] pt-6">
        <img
          src={images[1].src}
          alt={name}
          class="w-full h-3/4 object-cover object-center border-[0.5vw] border-current self-end"
        />
        <img
          src={images[2].src}
          alt={name}
          class="w-full h-3/4 object-cover object-center border-[0.5vw] border-current self-start"
        />
      </div>
    </div>
  </div>
</section>
