---
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import ActionButton from "../../molecules/ActionButton.astro";
import image36 from "../../../assets/images/36.webp";
import image37 from "../../../assets/images/37.webp";
import image38 from "../../../assets/images/38.webp";
import image39 from "../../../assets/images/39.webp";
import clsx from "clsx";

const newsItems = [
  {
    label: "Tin nổi bật",
    title: "Khởi công nhà máy nhiệt điện An Dương",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    location: "Hưng yên",
    date: "23/04/2025",
    image: image36,
  },
  {
    label: "Tin nội bộ",
    title: "Khởi công nhà máy nhiệt điện An Dương",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    location: "Hưng yên",
    date: "23/04/2025",
    image: image37,
  },
  {
    label: "Tin hot",
    title: "Khởi công nhà máy nhiệt điện An Dương",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    location: "Hưng yên",
    date: "23/04/2025",
    image: image38,
  },
  {
    label: "Tin hot",
    title: "Khởi công nhà máy nhiệt điện An Dương",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    location: "Hưng yên",
    date: "23/04/2025",
    image: image39,
  },
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="news"
  class="min-h-screen flex items-center pt-20 pb-10"
  data-menu-color="primary"
  data-number="3"
>
  <div class="container mx-auto space-y-5">
    <div class="flex items-center justify-between gap-4">
      <h2
        class="whitespace-pre-line text-4xl font-bold uppercase mb-4 max-md:text-3xl text-primary"
      >
        {t("news.title")}
      </h2>
      <ActionButton class="bg-primary text-white max-sm:hidden">
        {t("news.view_more")}
      </ActionButton>
    </div>

    <div
      class="grid md:grid-cols-2 xl:grid-cols-4 grid-rows-[repeat(4,_280px)] md:grid-rows-[280px_280px]"
    >
      {
        newsItems.map((item, index) => (
          <div
            class={clsx(
              "group relative overflow-hidden",
              "after:absolute after:bottom-0 after:left-0 after:right-0 after:h-40 after:pointer-events-none after:bg-gradient-to-t after:from-primary after:to-primary/0",
              {
                "xl:col-span-2 xl:row-span-2": index === 0,
                "xl:col-span-2": index === 1,
              }
            )}
          >
            <div
              class="bg-cover absolute inset-0 bg-center group-hover:scale-110 transition-transform duration-500"
              style={`background-image: url(${item.image.src});`}
            />
            <div
              class={clsx(
                "grid gap-2 relative p-6 pr-10 justify-items-start items-end h-full content-end z-10 text-white",
                { "xl:max-w-[80%]": index === 0, "xl:max-w-[60%]": index === 1 }
              )}
            >
              <div class="bg-white text-primary uppercase text-xs px-2 leading-4 font-semibold">
                {item.label}
              </div>
              <div
                class={clsx("font-bold uppercase line-clamp-2", {
                  "xl:text-xl": index === 0,
                })}
              >
                {item.title}
              </div>
              {index === 0 && (
                <div class="max-xl:hidden text-xs line-clamp-3">
                  {item.description}
                </div>
              )}
              <div class="text-sm">
                {item.location} - {item.date}
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <ActionButton class="bg-primary text-white sm:hidden mx-auto">
      {t("news.view_more")}
    </ActionButton>
  </div>
</section>
