---
import RightArrow from "./Icons/RightArrow.astro";

interface Props {
  imageSrc: string;
  imageLogo: string;
  imageClass?: string;
  link?: string;
  className?: string;
}
const {
  imageSrc,
  imageLogo,
  imageClass,
  link = "#",
  className = "",
} = Astro.props as Props;
---

<a
  href={link}
  class={`card-image-overlay-item group block overflow-hidden relative transition-all duration-500 ${className}`}
>
  <div
    class="w-full h-[400px] md:h-[462px] bg-cover bg-center"
    style={`background-image: url('${imageSrc}');`}
  >
    <div
      class="absolute inset-0 bg-black/50 group-hover:bg-black/20 transition-all duration-500"
    >
    </div>
    <div class="absolute inset-0 flex items-center justify-center text-white">
      <div class="flex items-center gap-[28px]">
        <img src={imageLogo} class={`w-auto object-contain ${imageClass}`} />
        <RightArrow
          class="w-[15px] xxl:w-[30px] h-2 transition-transform duration-300 group-hover:translate-x-2"
        />
      </div>
    </div>
  </div>
  <div
    class="absolute inset-0 transition-all duration-500 pointer-events-none group-hover:shadow-none"
    style="box-shadow: 0 0 0 611px rgba(0,0,0,0.261);"
  >
  </div>
</a>
