---
import type { note } from "../../types/drink";

interface Props {
  note: string | note[];
  className?: string;
}

const { note, className = "" } = Astro.props as Props;
---

{Array.isArray(note) ? (
  <div class={`item-note ps-[20px] lg:ps-[50px] h-full border-l border-black border-t-0 border-b-0 border-r-0 min-h-[47px] flex flex-col justify-center w-full ${className}`}>
    {note.map((val: note) => (
      <div class="flex w-full justify-between mb-[8px]">
        <span class="text-[13px] lg:text-[15px] leading-[22px] lg:leading-[28px]">
          {val.label}
        </span>
        <span class="text-[14px] lg:text-[20px] lg:leading-[22px] font-URWClassico">
          {val.price}
        </span>
      </div>
    ))}
  </div>
) : (
  <div class={`item-note ps-[20px] lg:ps-[50px] h-full border-l border-black border-t-0 border-b-0 border-r-0 min-h-[47px] flex items-center ${className}`}>
    <p class="text-[13px] lg:text-[15px] leading-[22px] lg:leading-[28px] whitespace-pre-line">
      {note}
    </p>
  </div>
)}
