---
interface Props {
  title: string;
  subtitle: string;
  menuItems: Array<{
    des: string;
  }>;
  price: string;
  imageSrc: string;
  reverse?: boolean;
  sectionClass?: string;
  imageClass?: string;
  menuColor?: string;
}

const {
  title,
  subtitle,
  menuItems,
  price,
  imageSrc,
  reverse = false,
  sectionClass = "",
  imageClass = "",
  menuColor = "white",
} = Astro.props as Props;
---

<section class={`food-info-section text-black ${sectionClass}`} data-menu-color={menuColor}>
  <div class="grid grid-cols-1 lg:grid-cols-2 items-start">
    <div
      class={`relative order-1 ${reverse ? "lg:order-1 lg:pr-[122px] pl-[39px] lg:pl-[0px]" : "lg:order-2 lg:pl-[122px] pr-[39px] lg:pr-[0px]"}`}
    >
      <img
        src={imageSrc}
        alt={title}
        class={`food-image w-full lg:h-[709px] object-cover object-center ${imageClass}`}
      />
    </div>

    <!-- Text Content -->
    <div
      class={`order-2  px-[39px] lg:px-[0px] ${reverse ? "lg:order-2  lg:pr-[128px]" : "lg:order-1 lg:pl-[128px]"}`}
    >
      <!-- Title Section -->
      <div class="food-title mb-[50px] lg:mt-[0px] mt-[50px]">
        <div class="lg:flex lg:justify-between items-center">
          <h2
            class="font-URWClassico lg:text-[27px] text-[30px] lg:leading-[33px] leading-[42px]"
          >
            {title}
          </h2>

          <!-- Price on large screens -->
          <div class="hidden lg:block">
            <p
              class="text-[18px] lg:text-[20px] leading-[22px] font-URWClassico text-black"
            >
              ¥ {price} -
            </p>
          </div>
        </div>

        <p class="text-[14px] lg:text-[12px] lg:leading-[33px] leading-[28px]">
          {subtitle}
        </p>

        <div
          class="flex justify-between items-center lg:block lg:mt-[28.5px] mt-[25px]"
        >
          <hr class="w-[45.5px] border-t border-black" />

          <!-- Price on mobile -->
          <div class="lg:hidden">
            <p
              class="text-[18px] lg:text-[20px] leading-[22px] font-URWClassico text-black"
            >
              ¥ {price} -
            </p>
          </div>
        </div>
      </div>

      <!-- Menu Items -->
      {
        menuItems.map((section) => (
          <div class="menu-item whitespace-pre-line">
            <p class="text-[13px] lg:text-[14px] text-black lg:leading-[30px] leading-[28px]">
              {section.des}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
